body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdsxHoqcIFz13Mci5pq0XUb2fEbt1H627MOg&usqp=CAU);
}

h1 {
  text-align: above;
}

form {
  margin-top: 20px;
}

label, input {
  display: block;
  margin-bottom: 70px;
}

input[type="submit"] {
  padding: 10px;
  background-color: rgb(149, 47, 87);
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #078171;
}

.container {
  background-color: rgb(0, 19, 128);
  padding: 50px;
  width: 400px;
  margin: 0 auto;
  text-align: left;
  color: white;
}

h2 {
  color: rgba(255, 255, 255, 0.936);
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

body {
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYVFRgWFhYYGRgaGBoaGRwYGhgcGhgYGBgaGhgYGhkcIS4lHB4rIRoYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QGhISHjQrJCE0NDQ0NDQ0NDQ0NDQ0NDQ0NDQxNDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQxNDQ0NDQ0ND80NP/AABEIALcBEwMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAACBQEHBv/EAEUQAAIBAgMEBwQHBgUCBwAAAAECAAMRBCExEkFRcQUTYYGRobEiMsHRBhRCUmJy8BWCkqLh8SNTY7LSJDMHFhclQ1TC/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAECAwT/xAAkEQEBAAMAAQQDAAMBAAAAAAAAAQIRElEDEyExBBRBYaHxcf/aAAwDAQACEQMRAD8A1SoAsJQsYNnPGdUA6mdnMNyd0i0jrYxxEWM0SF0l2aCwWCVr7bhMrqdbnh2S2G9hrEyxHC3KHw2AdwSMrep0FpNgNdc7jIQS0trWO4MbD7FTIb7gzQfo03ug2hxE55Wt48sqlhQCMj3QtWmmzo21yyhi4Q55ETj1ge2T5b+Ky2QE6GENIjcY8hDZhRBuwJtfZlmV8HOP8pOxlkBjBpDXbErTIvn5TW9s2aDWoeJmnhU2tL9spiaSrskZgi95pYHZQK5bXUDXszmcptqZaUXBnS2s4uEI3W4XEmI6RBY2vbtPygvrIY3JMxzY3MpRFpEZGXWlc2z7hKAXtYnzjCKV1NucuOVjGWMv0lapsArbM7zwidPElGBGZ8YxVo7ZuWvArhdk68puWMXHRipiHq5Fdm3dFfqxH2oZnIz3xWtUm4xXHIG+8KtiL3tEOssZ01rTWmRnOeecq9cRapigYs9eWQ+WvhqxOdj+u2cqhicspn0ccwFo+mIDWJPMTlluXenoxks1sCqtoE34Rt6ycSZxWuchlxlmV19JcMd/ZUoYDrM7WJjdcMTkR3wHV/iE3L5YuOvoPrPwmSE6ztE7IhBsKAdbwi0xylqlMg2gxTMzs0IKfKW1yEGq5xynhahI9k2bQ2NrcbyA9PoVyu0ClvzCTq3pEEmx3EEGEL7HsHxGl++auBwZbZ2jrnY8Jm5BU0zUsXG0ON85pUKoppZFOuvHmI+MOikXA7Moli+lUU7JUsAeFhfsk3tfpmV8NcFjp3b4o7Jay95zz7Z9KHRkuy2XUbVtOyfP9IU0JumQ4HeZYbIM5X5zrgHnLbHGMpSAIyPwl2aZVQEHQw1G4zsbcptnB7YBA9kfo5ma64BWUXtkLWFrC26Tavl0YHdfstLV0IPDsM3cfhgyjZADLcbr+I1mU2Dd7DU+nMxKFNtbHebZX5ZyYaotiCG2t1ownRv3jGkohdDLsBTFOLezfn8hGTjGcWIAHL4wRtxlWqAQaFLCAqVrQFStwilRyZYcmnxUUq4iD2GPGXGDuNPOaliWFmqkym0x3GPrhAvvWl0rIugmtoTXCuRfZJE4cKeBEdbHAaDw+UDVxgMS1AaeHA1lggGkC9YmAeqe2aQ51tpR8UYsGvrKGmeMaQR6xO8ynWzhS04WEvwfLnW9skrtDhJGzTTqY1Raw2hztBJi0vmpHnNT9nofdZm7hLL0aoOZA/Nb0Bni7/w9POPl3CYilpYEH74JseYm1h+kURQDtW3WBK9xziuDwCAE5HTQ29ZrrRRsiBe1tn2cvCOtpcZGLjTTqMSDa2YyIz7wIzh3DALshj+awFt9r6zQ/ZyWsL+UB+zUHvMR5ecfKahqmoVbuwt+I6d5inSiIy3uDuAFj5y1foxWX2STllc/PSWpYTZBBX2SANTe/GNppnOAF2XQkkZMScuXGFwnQ+0oJNh5zZWmuyFNja2sriMSqa75raaLDoilvBPMyuKoF02aYAAOhFu8GVr48KTstceY5RZsbkfabPtMzcm5jsM9DuLXdbb8z8Y5UxSooVfS1+3XfEziMrAmLvVvuja8jde7ZiwHYJ1a5G8xYOdwlxSbfYczHS8OPXME1Qw42RqRKvXXcsnVXmFG2junVwxOrAecj1J3a4TUpY5VwwXiYFX2dwEO1XKLO83GRlrGUc7wSIt1k51h4GVNCu0AyQk6EG8zUqahZknAsaIWCZlEu6moAyjhKlOyGL8JzYJ4DmQPUy9JyAUlGXt84coPvoO8n0Er7G9r8gfjaOl5AKdsoaPExw1UGgY87QTYkbk8W+QEdXwnM8l+oEkL9ZP3F/m+ckdZGp5ejLhUyZVHAWNhblvi37MQXYqpYn8VhNELpa1uUuJ5tNAUqAUEDQ2sABl4/GLLgwjbagg7wxyPE3F919YwcalyoYFhuHHhfSYo6RqqSC2+5BA/hHASWwfQlwM7/wB+EzMZ0oLWXI3zPLhMVqrkk3OZuQOO7SDq02P2SOeXrHRppr0swvnfmIWp0ySNAJjUcKW+0F7ScvKOYfo5Tqxb8gJ+Mu4aCbGZ3vnzlGru2gPhHjhTf/Dpkgb2AHqYxTwL5bWwt+3ONmmStKoTbZN+3L1hDhHFtplH71z5R+vhWBzqAcbA39IKph6YyDuSdOA45SdNFG2AdSe8ywxCjRfGQUFB1v8ArhI1Jbk6CNtSIcYd2Uo9ZjL7KzuwJm5NzEuWJnOrJjGUozSdN8hhDKukszHhBsDNTJm4hskqZYoeMmxNzJm4h34CcJMJsTmyJrpnmAsTKMTGCkr1UvTPJY3nLNx8o31Yk2BL0ckzTJ+0Zz6tHCsoRHSaLfV5w4eMkShEvRoD6vIaAhSsoRG0D6sSS2wZJdo+8OJqkXWmve+vHKwzh6rOV9lRc6jaI3bjbWZ7dKncj/vWUeJM4eknI91FPEuD5LPBM7/XTkDDdDPntMEG6x2td26aNDoqmo9oBjxN8+68z2d21xCr2Iot46xdVRTk9RjxWwHzmplE5fSpSUWAAFuGUTr9GI5uS1+d/W8x8RiS2m3bgWJHPSdw+KqKPZDW5S9f4OWnR6OCXJO2NwKjLt4SyVVX7RtwVVA5X185kvinbU/rlOBGbjHWmpjtrt0oq6AkdpN/OJV8eWIOltLXgBhGO4yr4e2+OpV4R6t95lOsEuKMIuFJi5SLMSxqzm0THRhV3nwlDRE531I6Y4lbGXCQ62EsDwHlOOXqusxAFOTYhjfhKNeMfUi2AsDKFYc0zBsk645xi40EyhMYFGXGHHGdPcjNxpIzlo8KazhKjhHuM8kQhnTSMd68dnlKGqDw8RL7lTmFOrnDTjYJOlpc4Zju9ZL60n3TikOpMnUR44Vpz6o/CP2MfKe3SXUzhSPjAPwnR0cx/tH7GPk9tlskGwE2h0ST/aEXon9WEfsxPbYFhJPov2Ry8JJP2Z4PbnlgVelaANi7txKi48SRfuhqXSOGIJLnLcRY9wOvdPOU6Zf7q59h+c5+1mJt7N9bbx3T1e1i80yr0A9OUL5LUt2Ko/8A3eETp+kP80cgv/KeaV8Y7aueQy9JxOkXQWDXH4s49rE7yenH6TJ96vbsFPOL1/pU5yQMe1yvoq/GfAjpl96J5/OCfphzoAOQ+cT0sJ/C55V9vT+kdYG7BGHDZt4H53hh9KqwNwqAcNk38b/CefL0nUBvtX5gWhH6XcjUDkPnNXDC/cTrLy++qfSZ3PvbHIAjvNvhD4bpeoLe2rjtA9RYzzlOl2437hDDpm32gD+X+scYa1pesvL0DE9KVn0OwOCZHx1gqeOrLkKjfvWb/dPP6/SrNl1jkcB7I7xOUuk3T3HcenhciWY4T40dZfe3oTdIVtesPkB4WhaPSVYHNgw4Mo9RYzzerjmc7TVHJGhzy5AaSP0m7ZdY9uG0wmcsMLNaaxzyn9ezdG4lKlsgr/dJOf5STY+s1lRr2CgDtt8J4JQxxXMOQd1j8bzVT6UV7WNdzzZres8eX4mPW5XX3Lft7G+EY6soHI/MRHraG0UNZNsDO2Wm65Nr9k8gfpVm1qHz+AlF6UcC22bcLKb+Iifi4L7mXl7AAhJAdbji638FvIdkfaXuBPqBPH26Ye/vnjmALciDC1en6jLZqpYcGz8jlJ+p4q+9f69d203lu5YLrKV7EN3hQfCeO1OknP8A8rDszHhBfXn160+Jm5+LPKX1nsiY/DFtgHdrYWJ4A2zMYZ6NsvMN8BPED0i5y23I5mUfHuRYu5HaTp4zV/En8tZnrX+vcKmNw6jMgc9ryvMuv9KcMjbKq7cjbLsDMD5Tx0Yn8TD9c5Q4m+8xj+HhPu2s31b/AB7HU+l9ED2adQntIA/3GJN9NSNKA7Lu3ynly4xrizN/EZPrpufabtzOc64/jelP5tm+rl5eln6b1f8ALS3D2vW8h+nzD3qadz29VM8wGKB1OfMmQ4ocfMS30PR8f7Z7y8vUD/4gj/L/AJ7+iSv/AKiJ/lnub+k8sL33/GcAO4MeV5n9b0vH+2vcyeqn/wAQ6ZyNJ+5h8JdfpxQbe6c7n0YzytdrM2buvKmruJIPbM5eh6M/6s9XN65/5rof/YPhW/4yTyDrB971+U5M+z6Pmte9l4gKdK7iD5fKJV32m2gxBy17O0QUl52+XOwzSxLj7V8tCSZXad73YAdp+AgdqTajdGvh7AAdboN4y9YdA1veR/ykel7zBvJeTqjaaqBqCD2gzoYHSYgaERmJsLzXdTTXdZULbTwymcS412vEynXtxiZ7NNMJ3SoextcXmctVhvPiZVhx+frL1fBptimxFwMhvNrDjmYION5uOzOZJa4scxzInVpjRWt2Np/FJ2abDAbIIDc/WCz/AFeZzKy6kjsBHiLGDL8Sf13ydRrTYCc+6dKtwv6+EyKRLaE3/W+8j7SmzXH685ehrLTdjYKdNJyorLkwIPbMoVm4nxl/rDfebxMdJo8XP951STERi3+8e+x9ZZ8Y5XZLZcgPMC8u00dBPZIxgU6YqgBdoWGQuM+8y37Yqj7vgfnHVNL7S78u+0uEU6N5fKZmKxL1WBbW1gFHwjSk0wOG8k2362E531NLMTewmmZy10se0WnSiDXhpfP1mc/Sdr28YotUsbnXjxk6yv8Agkjdo1UbIWHMASj4pFNrC/ZppuImK2J2dMoM4i+sstG83SGzbZtnn7XC3bKfW9o+0Se8a8AJiFyc75Dz427bXhqdUgE3y9q2uZ3buWkmW/4sOPj9dbZ2ga9a9iL35mKkH3bZZ7rb8jOqugz8CT2mw4DPukmOgfrjxHgJJ2lg2IBBuN3st8pJnqeV0WYHhJeGFO+mvCQUjlz+U6oDOgRnD4MsdMo0mFK6C50ktRmhGtoZdKTa28dI71gXIzmIxIK5WktoCaQGTE6Xytrexz4WEo9gMr58bcYaku1noB53lHFsrf0/V5nVq7VSo3OcrISb23DugevJNluewZ+kdw+GrHSm9uLKQPFpccdXa/ZKxlmJmiuGN/aemp4F0Y94QsfKFoLRT322jf7KG3jUKeQM3us6Y8m12zSevQ+4zZHVgBf8oUf7pUVL+5RRc73K7X+/aPgZPkZAufduT2C58BGkwzkG62uPtHZH81pqpRqOLlyFPD2V7t55AGaOF6KQe03ifgNfPumufKyb+mVgMCHsCGvxQkjzHoZrP0FdbbRtoNNQNx4x2nUB9lPZXe1szy4Qj4jJiNEKAfvFv+Msm2uZI+cxXQ5QX2rg77Egd6/ECZ31SqQdlNvPVCHy4ELcifX1amzmM1Oo+UVrYSnUztY8VyYfPyl0y+Wei65MrKeDAqfOVII1n0fV10vsOXXeje14qc7csu2JnFC1nw9Nh+AbHf8A4dj5zGsofDINxunWaP2wz/ZqUzlo2XcCGJ8RI3RSNnTrDIaOp0/cLnfvURs0HTcBQFGZGZyuBff+t0QxOILZ3P8AT5/KatTol9mylHNtEdCdPukhvETGxOEqJk6OtvvKw8zOeOM3atdeqL+6LC9vs34SjEkA/odkATeEq7rTppHGNzIGzg7zqmEGfLP9dkuWFgABbee3fa/6zg9qdTLlCi3kp2ZgCbAm19bQLvOUSNoXsRfPaJAPO2cmvgfQisE9kNkMhcteSZ9RwSbICON9Z2efhra6uFy+P67J1WscrcpZ3wy/aqPysB6D1hFxaX9jDbR4uxPlmJ6eaxsuKxG+19PHQQ1HC1XOSPbdkQPE5Qp6SraL1dPsRRfw/pF8TVci7u7cjsjwFvSOYbHr4Fx75RNM3ccM/dv2QXUUR71baPCnTZv5iQPKL7AX2tld175nPwlhVyttfw5elo1IHBUpqvs0qjdtR0UfyiRsYNyURb8BqEd7m0zlHtHeYYqW3AeUf+QHfpJyMncDgCqAdyD4xN6hfM2JG9rsfFiYVMMMrkn0jGHw5Y7KKTbhu7SdFHaZrVTZLYqHefGw8BlCJhsgCT3cZoigi+8+0fupY+Ln2R3bUOhP2AEH4fePNzn4WHZLzDZangdn3rJ2EXf+HUd9o5Sojcve9mPh7o8+c6lNVErVxPCU0a6xUzJueJzPiYM1mc9kRW7GaWGSwkrpiZLBEgUP+BUb/UpjwDn4wOLqw9Bf+ic/6y+QUfGMYZ1KT3EXe6m4lKDw7m8rLqVg2uR49slUBvfXa/EMn7zo3eL9sTcWMvTrnQyoHU6M2/cs/YMqg/c3/ulpl1cIwOW46H0m4wBlmxBOTgVB+K4cDsce143HZJcZWXzxxFRciSRfQ+0O5WuBL0+k3XcQB9xnS/MKbHwmwcGj+49j9ypZTyV/dbv2T2TPxeAZTsupVuBBB58pm4rtX9pBveW/56dNx/EAGnWWg+qUyfwO9M9yvcRJ8KRAVKZG6Z1Yuztfo6jfWrTvptIrr25oQfKAPRF8krUm4BiUbwYfGL0ajL7pZfykjyEL9fcZEK4/Eo9RaNm3X6FrrmabHtWzD+W8SqIQbEFSNQ1wfAx6ljkB91kPGmxHllNOh0gzCwdKn4XADdx1784V800qJvVsLQbVXot/El/UeUVqdDPbaQrUXipF+8GVCO0vE+B+ckhwrj7DfwmSTSn6ZLC9gB2C58TeEbSxz78vkIFHyy04QgBOWQEfNFRUAyyElWoWBG/LTfnOrh1HbCgW0mpiloKU2PvAAbuMuuHUdsIDHk6NYDaqMKS8X94/lQe0fKWYxNkxlpYRijg3cbVgqffc7KeJ17rwn1mmn/bTbb79UA/woMh33g6jO52nYse3dyGgHKVBLUk0BqtxN0pju95vKdd3cWY2XcijZQfujLvOclKjGALQulKdICWapaDetFHe8KLUrEwai8qIxSWAbDpGi9oFDKO8lagVd7zYQWwBPF7+DqvwmE7T6G3/ALePHxq3ljFYlN40rxJGh1aFEcXgGEMGg3EqVxKhEMrgxQzoaEMOgP8AaWpYx0GwbOn3HG0o/LvU8iIJXkMoN1VGp7rdU33alynIVAPZ/eHfE8Z0e6e+hF9DqrflYZHulnWFw2NencK3snVGG0jc1OXhnAynw4O6LPhO2fSjqKuv+A/e1Mn1T0EXxvRjoNpluh0dDtIf3hp32mbibfNvhyJXqLfrtE12pQDUuEzyuytPFVFyvtDg2f8AUeMYTFITcgo3FSbeIz9YJ6BgKiZ6TOqrYXFVd2IFuaSTEsJ2A8otLQmGwrubIpbidw5k5COnCUqX/dfbb7lP0Z/7TpImyFNCx2VUsTuAufKPfs5UzruE/AvtOe4ZLzzlanSr22aaiknBPePN9YkqXMIfPSITKggT8bWZz3nJeQiuyzG7EknUnMnvMulKHRI2K06UOqWnAZR6kNCs9t0BUqQbvAs0CzPOCcl0WBdFjCSiCEEEW2oGo0szQLmRQ2M+tYf9AB/pqfFgZ8gxn2eLS2EtwpL5BZrFnJ8ophEaASFUwo4Mhg1MteBRhKEwhlGhlLyyvBXnbwDXlGEqGnQ0o4RC4TG1KRujkDeNVPNTkZQiVaBorXw9X306l/voL0yfxJu7oLFdDug21tUTc6e0Ldo1H6zmeyy+Gxb0m2kcqd9tDzGh74QApKOk3P2hRrZV6ey3+ZTyPNl3885TE9DPs7dJlqpxT3h2FePYLyaNsHqRwkjLIRrcdh3Tsml2mK6TqONm4RdyrkLcMomiSSQDqsOqySQ0KonS8kkAb1IJ3kkgCvJJJAIiwqiSSAUGS8kkKGzQLmdkhAzPu+kVth3H+mfIH9d8kk1GcnxKQokkkFg06DJJDTt5VpJIFGlQZJIZdvOXkkgWDTt5JJRUypEkkChEth8Q6NdGKniN/Pj3ySSDWH0jq71pk8SuZ85JJJU1H//Z');
  background-size: cover;
  background-position: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 50px auto;
  max-width: 400px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  color: rgba(255, 255, 255, 0.936);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}

.dialogo {
  background-color: #5c7e79b3;
  border: 1px solid #9f9a9a60;
  padding: 40px;
  margin-bottom: 500px;
  border-radius: 40px;

}
.dialogo1 {
  background-color: #5c7e79b3;
  border: 1px solid #9f9a9a60;
  padding: 35px;
  margin-bottom: 100px;
  border-radius: 40px;
}
.dialogo2 {
  background-color: #5c7e79b3;
  border: 1px solid #9f9a9a60;
  padding: 35px;
  margin-bottom: -300px;
  border-radius: 40px;
}