<!DOCTYPE html>
<html>
<head>
    <title>Contactanos</title>
</head>

<body>
    <div class="container">
        <h1>Contactanos</h1>
        <br>
        <br>
        <a href="https://www.facebook.com//dokchoker" class="button">Visitar nuestra pagina de Facebook</a>
        <br>
        <br>
        <h1>Contactanos</h1>
        <br>
        <br>
        <a href="https://api.whatsapp.com/send?phone=4421121077" class="button">Enviar mensaje de WhatsApp</a>
        <br>
        <br>
        </div>
    </div>
</body>
</html>