<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="C:\Users\Monse\OneDrive\Documentos\GitHub\PI_Softsit_POO\templates\PI_estilos.css">
</head>
  <body>
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
        <h3>Menú Principal</h3>
        
        <form action="{{ url_for('menu') }}" method="GET">
            <button type="submit" class="boton mas">Saber mas </button>
        </form>

        <form action="{{ url_for('pedidos_fundas') }}" method="GET">
            <button type="submit" class="boton mas">Realizar pedido</button>
        </form>

        <form action="{{ url_for('contactanos') }}" method="GET">
            <button type="submit" class="boton mas">Contactanos</button>
        </form>
            </div>
        </div>
      </div>  
    </body>
  </head>
</html>
