<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="C:\Users\Monse\OneDrive\Documentos\GitHub\PI_Softsit_POO\templates\static\PI_estilos.css">
</head>
  <body>
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
                h1>Menu</h1>
                <div class="container">
                <button onclick="redirigirsabermas()"> SABER MAS </button>
                <button onclick="redirigirpedido()"> REALIZAR PEDIDO </button>
                <button onclick="redirigircontact()"> CONTACTANOS </button>
              
                <script>
                  function redirigirsabermas() {
                    window.location.href = "file:///C:/Users/Monse/OneDrive/Documentos/GitHub/PI_SOFTSIT/saber_mas.html";
                  }
                  function redirigirpedido() {
                    window.location.href = "file:///C:/Users/Monse/OneDrive/Documentos/GitHub/PI_Softsit_POO/templates/pedidos_fundas.html";
                  }
                  function redirigircontact() {
                    window.location.href = "file:///C:/Users/Monse/OneDrive/Documentos/GitHub/PI_Softsit_POO/templates/contactanos.html";
                  }
                </script>
            </div>
        </div>
      </div>  
    </body>
    {% extends 'plantilla.html'%}
   
    {% block body %}
 
    
    <br>
     <br>
     <h1>Gestion de albums</h1>
     <br>
     
     {% with mensajes= get_flashed_messages() %}
        {% if mensajes %}
           {% for msj in mensajes %}
              <h3> {{msj}}</h3>
           {% endfor %}
        {% endif %}
     {% endwith %}
 
     {% endfor %}
    </tbody>
  
  </table>
  
  # incrusta de lo arriba y abajo que corresponga de la plantilla
  
  {% endblock %}
  
  </head>
</html>
