<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <link rel="stylesheet" href="C:\Users\Monse\OneDrive\Documentos\GitHub\PI_SOFTSIT\PI_estilos.css">
</head>
<body>
  <h1>Menu</h1>
  <div class="container">
  <button onclick="redirigirsabermas()"> SABER MAS </button>
  <button onclick="redirigirpedido()"> REALIZAR PEDIDO </button>
  <button onclick="redirigircontact()"> CONTACTANOS </button>

  <script>
    function redirigirsabermas() {
      window.location.href = "file:///C:/Users/Monse/OneDrive/Documentos/GitHub/PI_Softsit_POO/saber_mas.html";
    }
    function redirigirpedido() {
      window.location.href = "file:///C:/Users/Monse/OneDrive/Documentos/GitHub/PI_Softsit_POO/pedidos_fundas.html";
    }
    function redirigircontact() {
      window.location.href = "file:///C:/Users/Monse/OneDrive/Documentos/GitHub/PI_Softsit_POO/contactanos.html";
    }
  </script>
</div>
</body>
</html>
